@import "fonts";
@import "mixins";
@import "colors";
@import "variables";
@import "components/typography";
@import "components/navs";
@import "components/buttons";
@import "components/forms";
@import "components/modals";

@import "views/page";
@import "views/header";
@import "views/footer";

@import "views/reserve";
@import "views/planner";

/*
@import "components/json-formatter";
@import "views/cards";
*/

html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	font-size: 16px;
	background: $gray;
	color: $black;
}

main {
	position: relative;
}

.centered {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: calc(100vh - 80px);

	&>ng-view {
		display: block;
		min-width: 100%;
	}
}

.page {
	background: $gray;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

.wrapper {
	background: $white;
	// max-width: 1440px;
	min-height: 100vh;
	margin: 0 auto;
	padding: 0;
}

.container {
	max-width: 1320px;
}

.maxw-sm {
	width: 100vw;
	max-width: 640px;
	margin: auto;
}

.flex-bar {
	display: flex;
	justify-content: center;
	padding: 30px 0;
}

.btn-group {
	&>.btn {
		flex-grow: 1;
		flex-basis: 200px;
		max-width: 200px;
		font-family: monospace;
		font-size: 12px;
		font-weight: 600;
	}

	&>.btn:not(:first-child):not(:last-child) {
		flex-grow: 1;
		flex-basis: 80%;
		max-width: 80%;
	}
}

.controls {
	position: relative;

	.input-group {
		position: absolute;
		top: 15px;
		left: 15px;
		right: 15px;
		width: auto;
		max-width: 960px;
		margin: 0 auto;
	}

	.dropdown-menu {
		position: absolute;
		top: 60px;
		left: 15px;
		right: 15px;
		max-width: 960px;
		margin: 0 auto;
	}

	.btn-group {
		position: absolute;
		bottom: 6px;
		right: 15px;
	}
}

[unselectable] {
	-webkit-touch-callout: none;
	user-select: none;
}
