@import "colors";
@import "variables";

[ng-click],
[link-to],
button,
a {
	cursor: pointer;
	transition: all ease-in-out 350ms;

	/*
	&,
	&:hover,
	&:active,
	&:focus,
	&:visited {
		text-decoration: none;
	}
	*/
}

a {
	color: #c00019;
	text-decoration: underline;

	&:hover,
	&:active {
		color: darken(#c00019, 10%);
	}
}

button {
	background: transparent;
	padding: 0;
	border: none;
	outline: 0;
	-webkit-appearance: none;

	&:focus,
	&:active {
		outline: none;
	}
}

[type=reset],
[type=submit],
button,
html [type=button] {
	-webkit-appearance: none;
}

.btn {
	line-height: 1;
	vertical-align: middle;
	transition: all ease-in-out 350ms;

	i {
		height: auto;
		line-height: 1;
		vertical-align: middle;
	}
}

a,
[type=reset],
[type=submit],
button,
.btn {
	&:disabled {
		cursor: auto;
		pointer-events: none;
	}
}

.btn-primary {
	display: inline-block;
	min-width: 290px;
	background: #c00019;
	color: white;
	font-size: 18px;
	font-weight: 400;
	line-height: 1;
	padding: 27px 15px;
	text-align: center;

	&:hover {
		background: darken(#c00019, 8%);
	}

	&:disabled {
		background: #707070;
	}
}

.btn-cancel {
	display: inline-block;
	min-width: 290px;
	background: #e6e6e6;
	color: #28292b;
	font-size: 18px;
	font-weight: 400;
	line-height: 1;
	padding: 27px 15px;
	text-align: center;

	&:hover {
		background: darken(#e6e6e6, 8%);
	}
}

.btn-arrow {
	display: inline-block;
	background: white;
	color: #28292b;
	border: 2px solid #c7c6c4;
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	line-height: 50px;
	width: 50px;
	height: 50px;
	border-radius: 25px;

	&:hover {
		border-color: darken(#c7c6c4, 10%);
	}

	&:disabled {
		opacity: 0.5;
	}

	i {
		font-size: 15px;
	}
}

.btn-link {
	display: inline-block;
	position: relative;
	font-size: 13px;
	font-weight: 400;
	color: #c00019;

	&:after {
		content: '';
		display: block;
		position: absolute;
		background: #c00019;
		width: 100%;
		height: 1px;
		bottom: 0;
		opacity: 0;
		transition: all ease-in-out 350ms;
	}

	&:hover {
		&:after {
			opacity: 1;
		}
	}
}

.btn-back {
	i {
		margin-right: 10px;
	}
}

.btn-daytime {
	width: 114px;
	height: 114px;
	background: white;
	border: 2px solid #d6d6d6;
	text-align: center;

	.number {
		display: block;
		font-size: 40px;
		line-height: 40px;
		color: #c00019;
	}

	.available {
		display: block;
		font-size: 16px;
		link-height: 24px;
		color: #28292b;
	}

	.selected,
	.time {
		display: block;
		font-size: 13px;
		link-height: 20px;
		color: #28292b;
	}

	.select,
	.modify {
		display: none;
		font-size: 13px;
		link-height: 24px;
		color: #c00019;
		opacity: 0;
		transition: all 350ms ease-in-out;
	}

	&:hover {
		border-color: #28292b;

		.available {
			display: none;
		}

		.select,
		.modify {
			display: block;
			opacity: 1;
		}
	}

	&:not(.active) {

		.selected,
		.time,
		.modify {
			display: none;
		}
	}

	&.active {

		.number,
		.available,
		.select {
			display: none;
		}

		border: 3px solid #c00019;
	}

	&:disabled {}
}

.btn-daytime-empty {
	width: 114px;
	height: 114px;
	background: #eeeeed;
	text-align: center;
	pointer-events: none;
	cursor: auto;
}


.btn-block {
	display: block;
	width: 100%;
}

/*
[state] {
	position: relative;

	&.busy,
	&.erroring,
	&.successing {
		padding-right: 40px;

		i {
			display: none;
		}

		transition: all ease-in-out 350ms;

		&:after {
			content: '';
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			width: 27px;
			height: 27px;
			top: 50%;
			margin-top: -11px;
			background: transparent;
			transition: all ease-in-out 350ms;
		}
	}

	&.error,
	&.success {
		transition: all ease-in-out 350ms;

		&:after {
			transition: all ease-in-out 350ms;
		}
	}

	&.busy {
		&:after {
			content: 'R';
			background: transparent;
			color: white;
			animation: busy 1s infinite;
		}
	}

	&.successing {
		&:after {
			content: 'I';
			background: transparent;
			color: white;
			animation: successing 1s infinite;
		}
	}

	&.erroring {
		&:after {
			content: 'J';
			background: transparent;
			color: white;
			animation: erroring 1s infinite;
		}
	}
}

@keyframes busy {

	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}

	40% {
		transform: translateY(-30px);
	}

	60% {
		transform: translateY(-15px);
	}
}

@keyframes successing {
	0% {
		transform: scale(1.3, 1.3);
		opacity: 0;
	}

	100% {
		transform: scale(1, 1);
	}
}

@keyframes erroring {
	0% {
		transform: scale(1.3, 1.3);
		opacity: 0;
	}

	100% {
		transform: scale(1, 1);
	}
}

*/
