@import "bootstrap/scss/mixins";
@import "bootstrap/scss/variables";
@import "mixins";

.nav {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav-language {
	display: flex;
	justify-content: flex-end;

	a {
		color: rgba(white, 0.5);
	}

	li {

		&:hover,
		&:active,
		&.active {
			a {
				color: white;
			}
		}
	}

	li+li {
		margin-left: 30px;
	}

}

.nav-store {
	display: flex;
	justify-content: flex-end;

	a {
		display: inline-flex;
		height: 80px;
		vertical-align: middle;
		align-items: center;
		padding: 0 15px;
		color: #fff;
		text-decoration: none;
	}

	li {

		&:hover,
		&:active,
		&.active {
			a {
				background: #ac0016;
				color: white;
			}
		}
	}

	li+li {
		margin-left: 30px;
	}

}

.nav-select {
	flex-direction: column;
	border-top: 1px solid #888888;

	.name {
		min-width: calc(100% - 70px);
		flex: 1 0 calc(100% - 70px);
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

	li {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		min-height: 68px;
		border-bottom: 1px solid #888888;
		font-size: 24px;
		color: #888888;
		transition: all ease-in-out 350ms;
		cursor: pointer;

		&:hover,
		&:active,
		&.active {

			.radio {
				&:before {
					border-color: #2b2c2e;
				}
			}
		}

		&.active {
			color: #28292b;

			.radio {
				&:after {
					opacity: 1;
				}
			}
		}
	}
}


.radio {
	display: block;
	position: relative;
	min-width: 70px;
	flex: 0 0 70px;

	&:before,
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		transition: all ease-in-out 350ms;
	}

	&:before {
		width: 20px;
		height: 20px;
		border-radius: 10px;
		border: 2px solid #c7c6c4;
	}

	&:after {
		width: 12px;
		height: 12px;
		border-radius: 6px;
		background: #2b2c2e;
		opacity: 0;
	}

	&:hover,
	&:active {
		&:before {
			border-color: #2b2c2e;
		}
	}

	input:checked+& {
		&:after {
			opacity: 1;
		}
	}

}

input[type='radio'],
input[type='checkbox'] {
	appearance: none;
}
